.loading {
  text-align: center;
  color: white;
  background: var(--gray6);
}

.error {
  text-align: center;
  color: red;
  background: var(--gray6);
}

.title {
  background: black;
  color: white;
  padding-top: 2rem;
}

.movielist {
  background: black;
  color: white;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  overflow-x: scroll;
}

.movielist::-webkit-scrollbar {
  /* width: 5px; */
  height: 8px;
  background-color: var(--gray6);
}

.movielist::-webkit-scrollbar-thumb {
  background: var(--gray4);
  border-radius: 50px;
}