@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.navbar {
  color: red;
  font-family: 'Courgette';
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  background: transparent;
  z-index: 10;
}

.navbar.bg-dark {
  background: black;
}

.fixed-height {
  height: 5rem;
}